<div class="col-sm-12">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Cập nhật danh mục sản phẩm
            </h3>
        </div>
        <form class="form-horizontal" novalidate name="frmAddProductCategory" role="form" ng-submit="UpdateProductCategory()">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-1 control-label">Name</label>
                    <div class="col-sm-11">
                        <input type="text" placeholder="Name" name="name" required ng-change="getSeoTitle()" ng-model="productCategory.Name" class="form-control">
                        <span class="text-danger" ng-show="frmAddProductCategory.name.$invalid">Vui lòng nhập tên danh mục</span>
                        <span class="text-danger" ng-show="frmAddProductCategory.name.$error.maxlength">Vui lòng không nhập quá 256 ký tự</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">Alias</label>
                    <div class="col-sm-11">
                        <input type="text" placeholder="Alias" name="alias" required ng-model="productCategory.Alias" class="form-control">
                        <span class="text-danger" ng-show="frmAddProductCategory.alias.$invalid">Vui lòng nhập tên danh mục</span>
                        <span class="text-danger" ng-show="frmAddProductCategory.alias.$error.maxlength">Vui lòng không nhập quá 256 ký tự</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">DisplayOrder</label>
                    <div class="col-sm-11">
                        <input type="number" placeholder="DisplayOrder" name="displayOrder" ng-model="productCategory.DisplayOrder" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">ParentID</label>
                    <div class="col-sm-11">
                        <select class="form-control" name="parentId" ng-model="productCategory.ParentID" ng-options="option.ID as option.Name for option in parentCategories">
                            <option value="">Danh mục gốc</option>
                        </select>
                        <input type="hidden" name="parentId" ng-model="productCategory.ParentID" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">Description</label>
                    <div class="col-sm-11">
                        <textarea type="text" placeholder="Description" name="description" required ng-model="productCategory.Description" rows="13" class="form-control"></textarea>
                        <span class="text-danger" ng-show="frmAddProductCategory.description.$invalid">Vui lòng nhập tên danh mục</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">MetaKeyword</label>
                    <div class="col-sm-11">
                        <input type="text" placeholder="MetaKeyword" name="metaKeyword" ng-model="productCategory.MetaKeyword" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">MetaDescription</label>
                    <div class="col-sm-11">
                        <textarea type="text" placeholder="MetaDescription" rows="10" name="metaDescription" ng-model="productCategory.MetaDescription" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-11">
                        <label class="form-normal form-primary form-text">
                            <input type="checkbox" name="homeFlag" ng-checked="productCategory.HomeFlag" ng-model="productCategory.HomeFlag"> Hiển thị trang chủ
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-11">
                        <label class="form-normal form-primary form-text">
                            <input type="checkbox" name="status" ng-checked="productCategory.Status" ng-model="productCategory.Status"> Hoạt Động
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="panel-footer text-left col-sm-6">
                            <button class="btn btn-info" type="submit">Cập nhật</button>
                        </div>
                        <div class="panel-footer text-right col-sm-6">
                            <a class="btn btn-default" ui-sref="productsCategory_list">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>