@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Tieu Long Lanh Kute -->
<!-- Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
    <title>Trang Quản Trị</title>

    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ] -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="/Assets/admin/css/bootstrap.min.css" rel="stylesheet">

    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="/Assets/admin/css/nifty.min.css" rel="stylesheet">
    <link href="/Content/toastr.min.css" rel="stylesheet" />
    <!--Font Awesome [ OPTIONAL ]-->
    <link href="/Assets/admin/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Assets/admin/plugins/animate-css/animate.min.css" rel="stylesheet">
    <!--Switchery [ OPTIONAL ]-->
    <link href="/Assets/admin/plugins/switchery/switchery.min.css" rel="stylesheet">

    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="/Assets/admin/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="/Content/loading-bar.min.css" rel="stylesheet" />
    <!--Demo [ DEMONSTRATION ]-->
    <link href="/Assets/admin/css/demo/nifty-demo.min.css" rel="stylesheet">

    <!--SCRIPT-->
    <!--=================================================-->
    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link href="/Assets/admin/plugins/pace/pace.min.css" rel="stylesheet">
    <script src="/Assets/admin/plugins/pace/pace.min.js"></script>


    <!--
    REQUIRED
    You must include this in your project.

    RECOMMENDED
    This category must be included but you may modify which plugins or components which should be included in your project.

    OPTIONAL
    Optional plugins. You may choose whether to include it in your project or not.

    DEMONSTRATION
    This is to be removed, used for demonstration purposes only. This category must not be included in your project.

    SAMPLE
    Some script samples which explain how to initialize plugins or components. This category should not be included in your project.

    Detailed information and more samples can be found in the document.

    -->
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body ng-app="tedushop">
    <div ui-view></div>


    <!--jQuery [ REQUIRED ]-->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->

    <script src="/Assets/admin/Scripts/bootstrap.min.js"></script>
    <!--Fast Click [ OPTIONAL ]-->
    <script src="/Assets/admin/plugins/fast-click/fastclick.min.js"></script>

    <!--Nifty Admin [ RECOMMENDED ]-->
    <script src="/Assets/admin/js/nifty.min.js"></script>

    <!--Switchery [ OPTIONAL ]-->
    <script src="/Assets/admin/plugins/switchery/switchery.min.js"></script>

    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="/Assets/admin/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/Assets/admin/plugins/bootbox/bootbox.min.js"></script>
    <!--Demo script [ DEMONSTRATION ]-->
    <script src="/Assets/admin/js/demo/nifty-demo.min.js"></script>
    <script src="/Assets/admin/js/demo/ui-modals.js"></script>

    <script src="/scripts/angular.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/scripts/angular-local-storage.js"></script>

    <script src="/scripts/loading-bar.js"></script>
    <script src="/scripts/toastr.min.js"></script>
    <script src="/node_modules/ckeditor/ckeditor.js"></script>
    <script src="/node_modules/ng-ckeditor/dist/ng-ckeditor.min.js"></script>
    <script src="/Assets/admin/libs/ckfinder/ckfinder.js"></script>
    <script src="/node_modules/ckeditor/config.js"></script>
    <script src="/scripts/bootbox.min.js"></script>
    <script src="/scripts/ngBootbox-master/ngBootbox.js"></script>
    <script src="/app/shared/Modules/tedushop.common.js"></script>
    <script src="/app/components/Products/products.module.js"></script>
    <script src="/app/components/Products/productAddController.js"></script>
    <script src="/app/components/Products/productEditController.js"></script>
    <script src="/app/components/Products/productListController.js"></script>
    <script src="/app/components/ProductCategories/productCategory.module.js"></script>
    <script src="/app/components/ProductCategories/productCategoryListController.js"></script>
    <script src="/app/components/ProductCategories/productCategoryAddController.js"></script>
    <script src="/app/components/ProductCategories/productCategoryEditController.js"></script>
    <script src="/app/shared/filters/statusFilter.js"></script>
    <script src="/app/shared/Services/notificationService.js"></script>
    <script src="/app/shared/Directive/pagerDirective.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/shared/Services/apiService.js"></script>
    <script src="/app/shared/Services/commonService.js"></script>
    <script src="/app/shared/Services/authData.js"></script>
    <script src="/app/shared/Services/authenticationService.js"></script>
    <script src="/app/shared/Services/loginService.js"></script>
    <script src="/app/components/Home/HomeController.js"></script>
    <script src="/app/components/Login/loginController.js"></script>
    <!--

    REQUIRED
    You must include this in your project.

    RECOMMENDED
    This category must be included but you may modify which plugins or components which should be included in your project.

    OPTIONAL
    Optional plugins. You may choose whether to include it in your project or not.

    DEMONSTRATION
    This is to be removed, used for demonstration purposes only. This category must not be included in your project.

    SAMPLE
    Some script samples which explain how to initialize plugins or components. This category should not be included in your project.

    Detailed information and more samples can be found in the document.

    -->


</body>

<!-- Tieu Long Lanh Kute -->
</html>