<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="PageSize" value="9" />
	<add key="MaxPage" value="10" />

	<add key="SMTPHost" value="smtp.gmail.com" />
	<add key="SMTPPort" value="587" />
	<add key="FromEmailAddress" value="haile@gmail.com" />
	<add key="FromEmailPassword" value="????" />
	<add key="FromName" value="Haile" />
	<add key="AdminEmail" value="admin@gmail.com" />
	<add key="CurrentLink" value="http://localhost:44345/" />
</appSettings>