<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle/home10-minimal.html   11 Nov 2019 12:31:41 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Belle Multipurpose Bootstrap 4 Html Template</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/Assets/client/assets/images/favicon.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/Assets/client/assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="/Assets/client/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/Assets/client/assets/css/style.css">
    <link href="/node_modules/toastr/build/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/client/assets/css/responsive.css">
    <link href="/node_modules/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="/node_modules/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />
</head>
<body class="template-index home10-minimal">
    <div id="pre-loader">
        <img src="/Assets/client/assets/images/loader.gif" alt="Loading..." />
    </div>
    <div class="pageWrapper">
        @{ Html.RenderAction("Header", "Home");}
        <!--End Mobile Menu-->
        <!--Body Content-->
        <div id="page-content">
            @RenderBody()
        </div>
        <!--End Body Content-->
        <!--Footer-->
        @{ Html.RenderAction("Footer", "Home");}

        <script src="/Assets/client/assets/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="/node_modules/jqueryui/jquery-ui.min.js"></script>
        <script src="/node_modules/mustache/mustache.js"></script>
        <script src="/Assets/client/assets/js/common.js"></script>
        <script src="/Assets/client/assets/js/vendor/jquery.cookie.js"></script>
        <script src="/Assets/client/assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="/Assets/client/assets/js/vendor/wow.min.js"></script>
        <script src="/node_modules/toastr/toastr.js"></script>
        <!-- Including Javascript -->
        <script src="/Assets/client/assets/js/bootstrap.min.js"></script>
        <script src="/Assets/client/assets/js/plugins.js"></script>
        <script src="/Assets/client/assets/js/popper.min.js"></script>
        <script src="/Assets/client/assets/js/lazysizes.js"></script>
        <script src="/Assets/client/assets/js/main.js"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxBdIt2ZM1E01xJZgUc7HfdxCwA10EBU4&callback=initMap&libraries=&v=weekly" async></script>
        <script src="/Assets/client/assets/js/googleMap.js"></script>

        <script src="/Assets/client/assets/js/vendor/photoswipe.min.js"></script>
        <script src="/Assets/client/assets/js/vendor/photoswipe-ui-default.min.js"></script>
        <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="/node_modules/jquery-validation/dist/additional-methods.min.js"></script>
        <script src="/node_modules/numeral/numeral.js"></script>
        <script src="/Assets/client/assets/js/controller/shoppingCart.js"></script>

        <!--For Newsletter Popup-->
        @RenderSection("footerJS", required: false)
        <script>
            $(function () {
                var $pswp = $('.pswp')[0],
                    image = [],
                    getItems = function () {
                        var items = [];
                        $('.lightboximages a').each(function () {
                            var $href = $(this).attr('href'),
                                $size = $(this).data('size').split('x'),
                                item = {
                                    src: $href,
                                    w: $size[0],
                                    h: $size[1]
                                }
                            items.push(item);
                        });
                        return items;
                    }
                var items = getItems();

                $.each(items, function (index, value) {
                    image[index] = new Image();
                    image[index].src = value['src'];
                });
                $('.prlightbox').on('click', function (event) {
                    event.preventDefault();

                    var $index = $(".active-thumb").parent().attr('data-slick-index');
                    $index++;
                    $index = $index - 1;

                    var options = {
                        index: $index,
                        bgOpacity: 0.9,
                        showHideOpacity: true
                    }
                    var lightBox = new PhotoSwipe($pswp, PhotoSwipeUI_Default, items, options);
                    lightBox.init();
                });
            });

            jQuery(document).ready(function () {
                jQuery('.closepopup').on('click', function () {
                    jQuery('#popup-container').fadeOut();
                    jQuery('#modalOverly').fadeOut();
                });

                var visits = jQuery.cookie('visits') || 0;
                visits++;
                jQuery.cookie('visits', visits, { expires: 1, path: '/' });
                console.debug(jQuery.cookie('visits'));
                if (jQuery.cookie('visits') > 1) {
                    jQuery('#modalOverly').hide();
                    jQuery('#popup-container').hide();
                } else {
                    var pageHeight = jQuery(document).height();
                    jQuery('<div id="modalOverly"></div>').insertBefore('body');
                    jQuery('#modalOverly').css("height", pageHeight);
                    jQuery('#popup-container').show();
                }
                if (jQuery.cookie('noShowWelcome')) { jQuery('#popup-container').hide(); jQuery('#active-popup').hide(); }
            });

            jQuery(document).mouseup(function (e) {
                var container = jQuery('#popup-container');
                if (!container.is(e.target) && container.has(e.target).length === 0) {
                    container.fadeOut();
                    jQuery('#modalOverly').fadeIn(200);
                    jQuery('#modalOverly').hide();
                }
            });

            /*--------------------------------------
                Promotion / Notification Cookie Bar
              -------------------------------------- */
            if (Cookies.get('promotion') != 'true') {
                $(".notification-bar").show();
            }
            $(".close-announcement").on('click', function () {
                $(".notification-bar").slideUp();
                Cookies.set('promotion', 'true', { expires: 1 });
                return false;
            });
        </script>
    </div>
</body>
</html>